/* Start Globale Rules */
* ,
*::before ,
*::after {
    --webkit-box-sizing : border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;    
}
body {
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
    color: var(--alt-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--alt-color) ;
}
body::-webkit-scrollbar-track {
    background-color: #eee ;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}

/* End Globale Rules */

/* Start Media Query Responsive Design */
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Query Responsive Design */

/* Start Self Framework */
.dash-title {
    font-size: 25px;
    margin: 0;
}
.dash-discrip {
    color: var(--body-text-color);
    font-weight: 500;
    margin-bottom: 20px;
}
.dash-padding {
    padding: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid {
    display: grid;
}
.clr-org {
    color: #f59e0b;
} 
.bg-clr-org {
    background-color: #f59e0b;
}
.clr-light-org {
    color: #fdecce;
} 
.bg-clr-light-org {
    background-color: #fdecce;
}
.clr-green {
    color: #22c55e;
} 
.bg-clr-green {
    background-color: #22c55e;
}
.clr-light-green {
    color: #d3f3df;
} 
.bg-clr-light-green {
    background-color: #d3f3df;
}
.clr-blue {
    color: #0075ff;
} 
.bg-clr-blue {
    background-color: #0075ff;
}
.clr-light-blue {
    color: #cce3ff;
} 
.bg-clr-light-blue {
    background-color: #cce3ff;
}
.clr-red {
    color: #f44336;
} 
.deleted-item {
    text-decoration: line-through;
    opacity: 0.3
}
.bg-twitter {
    background-color: #0075ff;
}
.bg-facebook {
    background-color: #1877f2;
}
.bg-youtube {
    background-color: #ff0000;
}
.bg-linkedin {
    background-color: #0077b5;
}
.clr-twitter {
    color: #0075ff;
}
.clr-facebook {
    color: #1877f2;
}
.clr-youtube {
    color: #ff0000;
}
.clr-linkedin {
    color: #0077b5;
}
/* End Self Framework */

/* Start Variables */
/* Do not Forget to Add the Fullback Value */
:root {
    --body-background-color: #f1f5f9;
    --main-color: #2196f3;
    --alt-color: #1787e0;
    --section-color: #eee;
    --body-text-color: #888;
    --main-transition: 0.3s;
}
/* End Variables */

/* =========================================================== */
/* ============START STYLING FOR THE BODY SECTIONS============ */
/* =========================================================== */

/* Start Styling of The Dashboard */
.dashboard {
    min-height: 100vh;
    background-color: var(--body-background-color);
    display: flex;
}
/* End Styling of Main Dashboard */
/* =========================================================== */
/* Start Side-Bar */
.side-bar {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    position:relative;
    z-index: 2;
}
.side-bar h3 {
    position: relative;
    margin: 0 auto 55px;
    width: fit-content;
}
.side-bar h3::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 2px;
    width: 140%;
    background-color: #000;
}
.side-bar h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
    height: 20px;
    width: 20px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #000;
}
.side-bar ul li {
    margin-bottom: 5px;
    font-size: 14px;
    
}
.side-bar ul li a {
    color: #000;
    font-size: 15px;
    display: block;
    padding: 10px;
    border-radius: 7px;
    transition: var(--main-transition);
}
.side-bar ul li a:hover ,
.side-bar ul li a.active {
    background-color: #f6f6f6; 
}
.side-bar ul li i {
    font-size: 14px;
    margin-right: 5px;
    width: 15px;
}
/* Start Side-Bar */
/* =========================================================== */
/* Start Main Dashboard  */
.main {
    width: 100%;
}
.main .header {
    padding: 10px 15px;
    min-height: 67px;
    background-color: #fff;
    box-shadow: -1px 0 8px -4px #aaa;
}
.main .header .search {
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 10px;
}
.main .header .search i {
    margin-top: 1px;
    margin-right: 5px;
    color: #777;
    font-size: 14px;
}
.main .header .search input {
    border: none;
    font-size: 13px;
    width: 115px;
    transition: var(--main-transition);
}
.main .header .search input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}
.main .header .search input:focus {
    outline: none;
    width: 150px;
}
.main .header .search input:focus::placeholder {
    opacity: 0;
}
.main .header .logo i {
    font-size: 20px;
    margin-right: 15px;
    position: relative
}
.main .header .logo i::after {
    content: "";
    position: absolute;
    background-color: #f44336;
    top: -7px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.main .header .logo img{
    width: 35px;
}
.main .content {
    padding: 15px 20px;
}
.main .content h1 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    width: fit-content;
}
.main .content h1::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: #fff;
    height: 3px;
    width: 75%;
}
.main .content h1::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: #000;
    height: 3px;
    width: 25%;
}
.main .content .section {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
.main .content .section > div {
    border-radius: 10px;
    background-color: #fff;
}
.main .welcome {
    overflow: hidden;
}
.main .welcome .head {
    align-items: flex-start;
    background-color: var(--section-color);
}
.main .welcome .head h3 {
    position: relative;
}
.main .welcome .head h3::before {
    content: "Elzero";
    position: absolute;
    bottom: -28px;
    left: 0;
    color: var(--body-text-color);
    font-weight: normal;
    font-size: 18px;
}
.main .welcome .head img {
    height: 100px;
}
.main .welcome .body {
    position: relative;
}
.main .welcome .body img {
    width: 70px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -35px;
}
.main .welcome .body .text {
    text-align: center;
    margin: 50px 0;
    position: relative;
}
.main .welcome .body .text::before , 
.main .welcome .body .text::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #eee;
    width: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
}
.main .welcome .body .text::before {
    top: -20px;
}
.main .welcome .body .text::after {
    bottom: -20px;
}
.main .welcome .body .text p {
    margin: 0 0 10px;
}
.main .welcome .body .text span {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 500;
}
.main .welcome .button {
    text-align: right;
}
.main .welcome .button a {
    font-size: 14px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.main .welcome .button a:hover {
    background-color: var(--alt-color);
}
/* ------------------------------------------------ */
.main .quick-draft form input ,
.main .quick-draft form textarea {
    display: block;
    width: 100%;
    background-color: var(--section-color);
    border: none;
    padding: 10px;
    border-radius: 7px;
    margin: 15px 0;
}
.main .quick-draft form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.main .quick-draft form textarea {
    height: 200px;
    resize: none;
    font-family: monospace;
    margin-bottom: 30px;
}
.main .quick-draft form input:focus ,
.main .quick-draft form textarea:focus {
    outline: none;
}
.main .quick-draft form .button {
    text-align: right;
}
.main .quick-draft form .button a {
    font-size: 14px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.main .quick-draft form .button a:hover {
    background-color: var(--alt-color);
}
/* ------------------------------------------------ */
.main .targets > div {
    margin-bottom: 20px;
}
.main .targets > div > i {
    text-align: center;
    margin-right: 15px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 22px;
    font-weight: bold;
}
.main .targets > div > div {
    flex: 1;
}
.main .targets > div > div p {
    color: var(--body-text-color);
    font-size: 14px;
    margin: 0;
}
.main .targets > div > div h4 {
    margin: 10px 0;
}
.main .targets > div > div .bar {
    width: 100%;
    height: 4px;
    position: relative;
}
.main .targets > div > div .bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.main .targets > div > div .bar span::before {
    content: attr(data-progress);
    position: absolute;
    top: -35px;
    right: -17px;
    width: 34px;
    padding: 5px;
    font-size: 12px;
    border-radius: 7px;
    color: #fff;
}
.main .targets .money .bar span::before {
    background-color: #0075ff;
}
.main .targets .projects .bar span::before {
    background-color: #f59e0b;
}
.main .targets .team .bar span::before {
    background-color: #22c55e;
}
.main .targets > div > div .bar span::after {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent;
    right: -4px;
    top: -11px;
}
.main .targets .money .bar span::after {
    border-top-color: #0075ff;
}
.main .targets .projects .bar span::after {
    border-top-color: #f59e0b;
}
.main .targets .team .bar span::after {
    border-top-color: #22c55e;
}
/* ------------------------------------------------- */
.main .tickets .box {
    flex-wrap: wrap;
    gap: 20px;
}
.main .tickets .box .card {
    flex-basis: calc((100% - 20px) / 2);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.main .tickets .box .card i {
    font-size: 30px;;
}
.main .tickets .box .card p {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.main .tickets .box .card span {
    color: var(--body-text-color);
    font-size: 13px;
}
/* ------------------------------------------------- */
.main .content .latest-news h3 {
    margin-bottom: 20px;
}
.main .content .latest-news .news {
    padding: 20px 0;
}
.main .content .latest-news .news:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.main .content .latest-news .news .topic img {
    width: 100px;
    border-radius: 7px;
    margin-right: 20px;
}
.main .content .latest-news .news .topic .text h4 {
    margin: 0;
}
.main .content .latest-news .news .topic .text p {
    margin: 10px 0 0;
    font-size: 14px;
    color: var(--body-text-color);
    font-weight: 500;   
}
.main .content .latest-news .news span {
    font-size: 12px;
    background-color: var(--section-color);
    padding: 5px 10px ;
    border-radius: 7px;
    font-weight: 500;
}
/* ------------------------------------------------- */
.main .content .latest-tasks h3 {
    margin-bottom: 20px;
}
.main .content .latest-tasks .tasks {
    padding: 15px 0;
}
.main .content .latest-tasks .tasks:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.main .content .latest-tasks .tasks .text h4 {
    margin: 0;
    font-size: 16px;
}
.main .content .latest-tasks .tasks .text p {
    margin: 10px 0 0;
    color: var(--body-text-color);
    font-weight: 500;  
} 
.main .content .latest-tasks .tasks a {
    color: #000;
}
.main .content .latest-tasks .tasks a:hover {
    color: #f44336;
}
/* ------------------------------------------------- */
.main .content .top-search h3 {
    margin-bottom: 20px;
}
.main .content .top-search .title p {
    color: var(--body-text-color);
    font-weight: 500;
}
.main .content .top-search .search {
    margin-bottom: 5px;
}
.main .content .top-search .search p {
    font-weight: 500;
}
.main .content .top-search .search span {
    font-size: 12px;
    background-color: var(--section-color);
    padding: 5px 10px ;
    border-radius: 7px;
    font-weight: 500;
}
/* ------------------------------------------------- */
.main .content .latest-uploads h3 {
    margin-bottom: 20px;
}
.main .content .latest-uploads .uploads {
    padding: 10px 0;
}
.main .content .latest-uploads .uploads:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.main .content .latest-uploads .uploads .topic img {
    width: 40px;
    margin-right: 10px;
}
.main .content .latest-uploads .uploads .topic .text p {
    margin: 0 0 5px;
    font-weight: 500;   
}
.main .content .latest-uploads .uploads .topic .text span {
    font-size: 15px;
    color: var(--body-text-color);
    font-weight: 500;
}
.main .content .latest-uploads .uploads > span {
    font-size: 12px;
    background-color: var(--section-color);
    padding: 5px 10px ;
    border-radius: 7px;
    font-weight: 500;
}
/* ------------------------------------------------- */
.main .content .latest-projects {
    position: relative;
}
.main .content .latest-projects h3 {
    margin-bottom: 30px;
}
.main .content .latest-projects .proj-img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.1;
    width: 150px;
}
.main .content .latest-projects ul {
    margin-left: 15px;
    padding: 0 30px;
    border-left: 2px solid var(--alt-color);
}
.main .content .latest-projects ul li {
    font-weight: 500;
    position: relative;
}
.main .content .latest-projects ul li:not(:last-child) {
    margin-bottom: 30px;
}
.main .content .latest-projects ul li::before {
    content: "";
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--alt-color);
    background-color: #fff;
}
.main .content .latest-projects ul li.active-list::after ,
.main .content .latest-projects ul li.blink-list::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--alt-color);
    z-index: 2;
}
.main .content .latest-projects ul li.blink-list::after {
    animation: blinking 1.5s infinite forwards;
}
@keyframes blinking {
    0% ,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/* ------------------------------------------------- */
.main .content .reminders h3 {
    margin-bottom: 30px;
}
.main .content .reminders .remind {
    position: relative;
    padding: 2px 15px;
    margin-left: 30px;
    border-left: 2px solid;
}
.main .content .reminders .remind-blue {
    border-color: #0075ff;
}
.main .content .reminders .remind-green {
    border-color: #22c55e;
}
.main .content .reminders .remind-org {
    border-color: #f59e0b;
}
.main .content .reminders .remind-red {
    border-color: #f44336;
}
.main .content .reminders .remind:not(:last-child) {
    margin-bottom: 15px;
}
.main .content .reminders .remind:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.main .content .reminders .remind-blue::before {
    background-color: #0075ff;
}
.main .content .reminders .remind-green::before {
    background-color: #22c55e;
}
.main .content .reminders .remind-org::before {
    background-color: #f59e0b;
}
.main .content .reminders .remind-red::before {
    background-color: #f44336;
}
.main .content .reminders .remind h4 {
    margin: 0;
    font-size: 14px;
}
.main .content .reminders .remind p {
    margin: 10px 0 0;
    font-size: 13px;
    color: var(--body-text-color);
    font-weight: 500;
}
/* ------------------------------------------------- */
.main .content .latest-posts h3 {
    margin-bottom: 30px;
}
.main .content .latest-posts .head {
    display: flex;
    align-items: center;    
}
.main .content .latest-posts .head img {
    width: 50px;
    margin-right: 20px;
}
.main .content .latest-posts .head .title h4 {
    margin: 0;
    font-size: 16px;
}
.main .content .latest-posts .head .title p {
    margin: 10px 0 0;
    color: var(--body-text-color);
    font-weight: 500;  
} 
.main .content .latest-posts .body {
    margin: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.main .content .latest-posts .body p {
    line-height: 2;
    font-weight: 500;
}
.main .content .latest-posts .footer {
    color: var(--body-text-color)
}
/* ------------------------------------------------- */
.main .content .social-media h3 {
    margin-bottom: 30px;
}
.main .content .social-media .social {
    min-height: 50px;
    background-color: #d2ecfc;
    padding: 0 20px 0 70px;
    position: relative;
}
.main .content .social-media .social.twitter {
    background-color: rgb(29 161 242 / 20%);
}
.main .content .social-media .social.facebook {
    background-color: rgb(24 119 242 / 20%);
}
.main .content .social-media .social.youtube {
    background-color: rgb(255 0 0 / 20%);
}
.main .content .social-media .social.linkedin {
    background-color: rgb(0 119 181 / 20%);
}
.main .content .social-media .social:not(:last-child) {
    margin-bottom: 15px;
}
.main .content .social-media .social i {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.main .content .social-media .social p {
    font-weight: 500;
}
.main .content .social-media .social a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
}
.main .content .social-media .social i:hover {
    transform: rotate(5deg);
}
/* ------------------------------------------------- */
.main .content .projects {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
.main .content .projects h3 {
    margin-bottom: 30px;
}
/* End Main Dashboard  */
